/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0;
    overflow: hidden;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
body a{
    color: #ff9900;
}
body a:hover{
    text-decoration: none;
    
}
.container-full {
    position: relative;
    margin-top: 0;
    padding: 15px 40px 15px 15px;
}

.container-full>h1 {
    margin-top: 0;
}

.top-categories,
.top-category__blocks {
    /*display: flex;*/
    position: absolute;
    left: 0;
    top: 8vh;
    width: 100%;
    height: 92vh;
}

.top-category__blocks {
    z-index: 5;
}

.top-categories__single,
.top-category__blocks>div {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    float: left;
    width: 33.333333333%;
    padding: 30px;
    text-align: center;
    height: 100%;
    position: relative;
    transition: 0.5s;
}

.top-categories__single--expanded {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    transition: 0.5s;
}

.top-categories__single img {
    width: 150px;
}

.top-categories__single:first-child {
    background-color: #eee;
    /*//left:0;*/
    /*flex-basis:33.33333%;*/
}

.top-categories__single:nth-child(2) {
    background-color: #ddd;
}

.top-categories__single:nth-child(3) {
    background-color: #ccc;
}

.container-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.container-inner.level1 {
    left: 20%;
    background-color: #ccc;
    height: 100vh;
}

.container-inner.level2 {
    left: 30%;
    background-color: #999;
    z-index: 2;
    height: 100vh;
}

.newclass {
    /*position:fixed;*/
    z-index: 5;
}

.bg {
    /*opacity: 0;
    display: none;*/
}

.bg:first-child {
    background-color: #eee;
}

.bg:nth-child(2) {
    background-color: #ddd;
}

.bg:last-child {
    background-color: #ccc;
}


/*My styles*/

.ux-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}

.ux-container.level-1,
.ux-container.level-2,
.ux-container.level-3 {
    position: absolute;
    top: 0px;
    width: 90vw;
    /*height: 100vw;*/
    opacity: 0;
    display: flex;
    overflow: visible;
    
}

.ux-container.level-1 {
    /*background-color: #eee;*/
    left: 100%;
    z-index: 2;
    width: 91vw;
}

.ux-container.level-2 {
    /*background-color: #ddd;*/
    left: 100%;
    z-index: 3;
    width: 88vw;
}

.ux-container.level-3 {
    /*background-color: #ddd;*/
    left: 100%;
    z-index: 3;
    width: 73vw;
}

.round {
    height: 8vw;
    width: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 24px;
    line-height: 8vw;
    text-align: center;
    /*background: #ff9900;*/
    border: 1px solid #ccc;
    border:3px solid transparent;
}
.round-sm{
    margin:0 auto;
        height: 3vw;
    width: 3vw;
    background-color: #3f685b;
    border-radius: 1.5vw;
    line-height: 3vw;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}
.round:hover{
    border:3px solid #ff9900;
    transition: 1s;
}
.lvl-0 .round{
        height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    line-height: 10vw;
    font-size: 24px;
    line-height: 8vw;
}
.lvl-0 h1{
    text-transform: uppercase;
    font-weight: 700;
    margin-top:40px;
    font-size: 36px;
    
}
.level-0-item__container{
    height: 250px;
    text-align: center;
    margin-bottom: 40px;
}
.topmenu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    background: #444;
    color: #fff;
    padding: 0 15px;
    height: 70px;
}
.topmenu .logo{
margin-left:15px;
font-weight: 700;
font-size: 20px;
line-height: 70px;
margin-top:0;
margin-right: 40px;
cursor: pointer;
}
.topmenu ul{
    margin:0;
    padding: 0;
}
.topmenu li a{
    line-height: 70px;
}
.level-0-container {
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: row;
    -ms-flex-direction: row;
}

.currentFixed {
    position: fixed;
}

.lvl-0.destFixed {
    position: fixed;
    left: 2vw;
    /*top: 45vh;*/
    z-index: 4;
}

.lvl-0.destFixed img.round {
     height: 8vw;
    width: 8vw;
    border-radius: 4vw;
}

.lvl-1.destFixed {
    position: fixed;
    left: 15vw;
    z-index: 4;
}

.lvl-1.destFixed img {
    height: 6vw;
    width: 6vw;
    border-radius: 3vw;
    line-height: 6vw;
    
}
input:focus {outline:none;}
.destFixed h1{
    top: 8vw;
}
.lvl-1.destFixed h3{
    top:6vw
}
.lvl-2.destFixed h3{
    top:4vw
}
.destFixed h1,
.destFixed h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.lvl-2.destFixed {
    position: fixed;
    left: 24vw;
    /*top: 47vh;*/
    z-index: 4;
}

.lvl-2.destFixed img {
    height: 4vw;
    width: 4vw;
    border-radius: 2vw;
    line-height: 4vw;
    
}
.lvl-1 h3{
    text-transform:uppercase;
}
.lvl-1 h2,.lvl-2 h2{
    text-transform:uppercase;
    /*text-align:left;*/
    /*margin-top:0;*/
    /*width:260px;*/
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
}

.overlay2 {
    position: absolute;
    left: 15vw;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-color: #7F7F7F;
}

.level-1 .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50vh 10vw 50vh 0;
    border-color: transparent #CAE0D9 transparent transparent;
}

.ux-container .level-1 .content {
    background-color: #CAE0D9;
    width: 90vw;
}

.content {
    padding-left: 5vw;
    /*text-align: center;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:80px 40px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
}
.col-item__container{
    height: 200px;
    /*width:300px;*/
    /*display: block;*/
    text-align: center;
}
.level-2 .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50vh 10vw 50vh 0;
    border-color: transparent #A3BFB7 transparent transparent;
}
.level-2 .col-item p{
    text-align:left;
    padding:0;
}
.ux-container .level-2 .content {
    background-color: #A3BFB7;
    width: 90vw;
}

.level-3 .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50vh 10vw 50vh 0;
    border-color: transparent #7D9D95 transparent transparent;
}

.ux-container .level-3 .content {
        background-color: #7D9D95;
    width: 90vw;
    height:100vh;
        flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closebtn {
    position: absolute;
    top: 48vh;
    left: -15px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #fff;
    cursor:pointer;
    opacity: 0;
}
.closebtn:hover{
    background-color: #ff9900;
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    transition: 0.5s;
}

.level-1:hover .closebtn,.level-2:hover .closebtn,.level-3:hover .closebtn{
    opacity:1;
    transition:0.5s;
}
/*//Level 0 styling*/

.level-0-item {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    padding: 15px;
}

.level-0-item p {
    max-width: 20vw;
    text-align: center;
}

.level-0-item:nth-child(2) {

    background-color: rgba(125,157,149,0.1) ;

}

.level-0-item:nth-child(3) {
    background-color: rgba(125,157,149,0.3) ;
}

.level-0-item:last-child {
    background-color: rgba(125,157,149,0.5) ;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
}
.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  
}

.ng-leave-active {
}
.preloader{
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.inner{
    background: #ff9900;
    height: 300px;

}


/*Feedback*/
.feedback-container{
    position: fixed;
    right: -25vw;
    top:70px;
    width: 25vw;
    height: 90vh;
    background-color: #444;
    overflow-y: hidden;
    z-index: 10000;
    padding:30px;
    padding-top:40px;
    color:#eee;
}
/*[data-raven]:hover{
    background-color:#ccc;
    border:5px solid #ff9900 !important;
}*/
.raven-pin{
    position: relative;
    top:20px;
    left:20px;
    display: block;
    /*z-index: 100001;*/
    color:#fff;
    text-align: center;
    background-color: #ff9900;
    
}
.launchreview{
    position: fixed;
    bottom:20px;
    height: 20px;
    z-index: 8000;
    right:40px;
}
.feedback-container .close{
    position: absolute;
    left:10px;
    top:10px;
}
.feedback-container{
    /*display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -ms-text-justify: space-between;*/
}
.feedback-container__footer{
    position: absolute;
    bottom: 0;
    width:80%;
    margin-top:30px;
}
.messages-list{
    height: 55vh;
    overflow-y:scroll;
}